/* עיצוב לטופס הרשמה */
#signup-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 2px 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#signh2 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 14px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.up-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    font-size: 16px;
}

#signup {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #a6de81;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#signup:hover {
    background-color: #2a8821;
}
